<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('index') }}">
                <img src="{{ post.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            <form method="post" action="{{ url_for('create_task') }}">
                <input type="text" name="content"/>
                <input type="number" name="category"/>
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
</table>